<!DOCTYPE html>
<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        
    </head>
      <body> 
       <script>
        $(document).ready(function()
        {
          $("#bid").click(function()
          {
              $.post("http://localhost:4550/api/addUser",
              {
                  Name:$("#name").val(),
                  Empid:$("#empid").val(),
                  Email:$("#email").val(),
                  Role:$(".Role:checked").val(),
                  phone:$("#phone").val(),
                  Gender:$(".Gender:checked").val(),
                  Password:$("#password").val()
              },
              function(data,status)
              {
                  alert("Successfully added");
              });
          });
        });
      </script>   
        <form class="form-signin">
            <p>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                   <input type="text" required="required" id="name" placeholder="Name" class="form-control" autocomplete="off">
              </div>
            </p>
            <p>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                     <input type="text" required="required" id="empid" placeholder="Emp ID" class="form-control" autocomplete="off">
                </div>
              </p>
              <p>
                <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-universal-access"></i></span>
                         <input class="Gender" type="radio" name="Male" value="Male"> Male&nbsp; <i class="fa fa-male"></i>&nbsp;&nbsp; 
                         &nbsp;
                         <input class="Gender" type="radio" name="Fe-male"  value="Fe-male"> Fe-male &nbsp;  <i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;
                        </div>
             </p>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                   <input type="email" required="required" id="email" placeholder="Email" class="form-control" autocomplete="off">
              </div>
            </p>
            <p>
              <div class="input-group">
               <span class="input-group-addon"><i class="fa fa-universal-access"></i></span>
                       <input class="Role" type="radio" name="Trainee" value="Trainee"> Trainee&nbsp; <i class="fa fa-male"></i>&nbsp;&nbsp; 
                       &nbsp;
                       <input class="Role" type="radio" name="Training Co-ordinator"  value="Training Co-ordinator"> Training Co-ordinator &nbsp;  <i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;
                       <input class="Role" type="radio" name="Training Manager"  value="Training Manager"> Training Manager&nbsp; <i class="fa fa-male"></i>&nbsp;&nbsp; 
                       &nbsp;
                      </div>
           </p>
            <p>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                   <input type="number" required="required" id="phone" placeholder="Phone" class="form-control" autocomplete="off">
              </div>
            </p>
              
            <p>
              <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" id="password" required="required" class="form-control" placeholder="*******" id="student_password" autocomplete="off">
              </div>
            </p>
            <input type="button" class="btn btn-primary form-control signbtn" id="bid" value="Sign IN"></button>
            <p id="pid"></p>

        </form>
      </body>
</html>